KC_DB=identity-server

KC_DB_URL=jdbc:postgresql://ep-soft-dust-aqcsckic-pooler.c-8.us-east-1.aws.neon.tech:5432/identity-server?sslmode=require

KC_DB_USERNAME=neondb_owner    

KC_DB_PASSWORD=npg_z1WbRI5JiVrf

KC_BOOTSTRAP_ADMIN_USERNAME=admin

KC_BOOTSTRAP_ADMIN_PASSWORD=admin

KC_HOSTNAME=http://localhost:8080

KC_HTTP_ENABLED=true